<object type='application/x-shockwave-flash' data='../out/production/flash_youtube/Flash_youtube.swf' width='560' height='315'>
    <param name='wmode' value='transparent' />
    <param name='FlashVars' value='video_code=H9kJ75uY4vg&video_width=560&video_height=315' />
    <param name='movie' value='../out/production/flash_youtube/Flash_youtube.swf' />
</object>